.sidebar{

width:260px;

background:

linear-gradient(

180deg,

#08102A,

#0E153C

);

color:white;

padding:30px;

}

.sidebar ul{

margin-top:30px;

display:flex;

flex-direction:column;

gap:22px;

list-style:none;

}

.sidebar li{

cursor:pointer;

}

.quick{

margin-top:50px;

}

.quick button{

width:100%;

padding:12px;

margin-top:10px;

background:#6C4BFF;

border:none;

color:white;

border-radius:8px;

}
@media(max-width:768px){

.sidebar{

position:relative;

width:100%;

}

.sidebar ul{

padding:0;

display:flex;

justify-content:center;

flex-wrap:wrap;

}

.sidebar li{

padding:8px;

}

}